.attribution {
    font-size: 11px; 
    text-align: center; 
    color:black;


}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.karla400 {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.karla700 {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body{
    margin:0;
    height:100vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    background-color:#E6EFF5;
    font-size:16px;
    color:white;
}

li{
    list-style-type:none;
}

h1, h2, p, ul {
    padding:0;
    margin:0;
}

button{
    border:none;
}

.main{
    width:635px;
    height:475px;
    box-sizing:border-box;

    display:flex;
    flex-wrap:wrap;
    overflow:hidden;

    background-color:#2AB3B1;
    border-radius:8px;
    box-shadow: 0 15px 30px rgb(0, 81, 171, 0.1488);
}

.joinCommunity{
    width:100%;
    height:216px;
    box-sizing:border-box;
    padding:40px;

    background-color:#FFFFFF;
}

.joinCommunity__title{
    margin-bottom:24px;

    font-size:24px;
    color:#2AB3B1;
}

.joinCommunity__headline{
    margin-bottom:11px;

    font-size:18px;
    color:#C0DF33;
}

.joinCommunity__summary{

    line-height:26px;
    color:#9AA7BE;
}

.row2{
    height:259px;
    box-sizing:border-box;
    padding:40px;

    flex: 1;


}

/*.subscription{

}*/

.row2__title{
    margin-bottom:18px;

    font-size:18px;
}

.subscription__price{
    margin-bottom:4px;

    display:flex;
    align-items:center;

    font-size:32px;
}

.subscription__frequency{
    margin-left:11px;

    font-size:16px;
    color:rgba(255, 255, 255, 0.5)
}

.subscription__summary{
    margin-bottom:26px;
}

.subscription__signUpBtn{
    width:100%;
    height:48px;

    color:white;
    background-color:#C0DF33;
    border-radius:5px;
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.0973);

    font-size:16px;
}

.subscription__signUpBtn:hover{
    cursor:pointer;
}

.why{
    background-color:hsla(0, 0%, 100%, 0.1519);
}

.why__list{
    color:RGB(255,255,255,0.75);

    font-size:14px;
    line-height:20px;
}

@media(max-width: 750px){
    body{
        height:auto;
    }
    
    .main{
        width:311px;
        height:722px;
        margin:72px 0;

        flex-direction:column;
    }
    
    .joinCommunity{
        height:267px;
        padding:28px 24px;
    }

    .joinCommunity__title{
        font-size:20px;
    }

    .joinCommunity__headline{
        margin-bottom:16px;

        font-size:15px;
        line-height:20px;
    }

    .joinCommunity__summary{
        font-size:14px;
    }
    
    .row2{
        padding:24px;
    }
}

